*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
    
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: rgb(156,195,34);
    background: linear-gradient(0deg, rgba(156,195,34,1) 14%, rgba(45,196,253,1) 37%);
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 25px;
}
.logo{
    font-size: 30px;
}
.bars{
    display:flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}

