.login {
    position: absolute;
    top: 0%;
    left:0%;
    height: 100%;
    width: 100%;
    background-image: url("https://w.wallhaven.cc/full/z8/wallhaven-z8dg9y.png");
}

.card{

    position:initial;
    opacity: 85%;

}

.Logo{
    position:absolute;
    width: 35%;
}